$item-padding: 30px;

.c-contact-banner {
    padding: 70px 0;
    color: #fff; 
    background-color: #cb0050;
    background: linear-gradient(100deg, rgba(#cb0050, 1) 0%, rgba(#fa1a74,1) 100%);

    /* Heading & Preamble */ 

    &__heading {
        font-size: 2.5em; 
    }

    &__heading + &__preamble {
        margin-top: 10px;
    }

    &__preamble {
        font-size: 1.2em;
        max-width: 500px;
        line-height: 1.5em;
    }

    /* Items */ 

    &__items {
        background: #fff;
        background: linear-gradient(180deg, rgba(#fff, 1) 0%, rgba(rgb(248, 248, 248),1) 100%);
        box-shadow:
            0 0.5px 1.8px rgba(0, 0, 0, 0.015),
            0 1px 3.7px rgba(0, 0, 0, 0.022),
            0 1.7px 5.8px rgba(0, 0, 0, 0.027),
            0 2.6px 8.3px rgba(0, 0, 0, 0.031),
            0 3.8px 11.3px rgba(0, 0, 0, 0.035),
            0 5.3px 15.2px rgba(0, 0, 0, 0.039),
            0 7.5px 20.5px rgba(0, 0, 0, 0.043),
            0 11px 28.8px rgba(0, 0, 0, 0.048),
            0 16.9px 44px rgba(0, 0, 0, 0.055),
            0 30px 80px rgba(0, 0, 0, 0.07);
        display: flex;
        flex-basis: 25%;
        border-radius: 3px;   
        position: relative;
        margin-top: 60px;
    }

    &__item {
        display: block;
        padding: $item-padding; 
        color: #000;
        flex-basis: 25%;
        position: relative;
    }

    &__item + &__item {
        border-left: 1px solid #eee;
    }

    &__item p {
        font-size: 1.1em;
    }

    &__item--content {
        padding: $item-padding/2 0;
    }

    &__item-title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__cta {
        margin-bottom: -#{$item-padding};
        padding: 20px 0;
        display: block;
        text-decoration: none;
        cursor: pointer;
        line-height: 1;
        font-weight: 600;
        background-color: transparent;
        letter-spacing: .1em;
        text-transform: uppercase;
        border-top: 1px solid #eee;
        text-align: right;

        i {
            font-size: .8em;
            vertical-align: top;
            transition: all 200ms;
        }

        &:hover {
            text-decoration: none;

            i {
                margin-left: 8px;
                margin-right: -4px;
            }
        }
    }

    &__icon {
        margin-right: 15px;
        svg {
            height: 1.7em;
            width: 1.7em;
            fill: url(#c-contact-banner__icon-gradient) #fa1a74;
        }
    }

    &__item-title-inner {
        font-size: 1.3em;
        font-weight: normal;
        line-height: 1.35em;
    }

    /* Hours section */ 

    &__hours {
        font-size: 1.1em;
        padding-left: 20px; 
        border-left: 4px solid rgba(#fff,.8);

        h3, ul, div + h3, ul, div {
            margin-top: 10px;
        }
    }

    &__hours-exceptions {
        line-height: 1.1em;
    }

    &__hours-time {
        padding-left: 10px;
        display: inline-block;
    }

    /* Info link */ 

    &__info {
        font-weight: bold;
        padding: 20px 0;
        display: block;
        font-size: 1.1em;
        float: right;
        color: #fff;
        word-wrap: none;
        white-space: nowrap;

        i {
            display: inline;
            font-size: .8em;
            vertical-align: text-top;
            transition: all 200ms;
            line-height: 1.45em;
        }

        &:hover {
            text-decoration: none;

            i {
                margin-left: 8px;
                margin-right: -4px;
            }
        }
    }
}