.bottom-sidebar .c-contact-banner , .bottom-sidebar .modularity-map-container {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 8px;
}

.c-contact-banner {
    .c-group {
        margin: 0 16px;
    }

    .c-card {
        width: 35%;
        flex-direction: column;
        box-shadow: none;
        border-right: 1px solid #E5E5E5;
    }

    .c-card__header {
        background: none;
    }

    @media screen and (max-width: 896px) {

        .c-group {
            margin: 0 4px;
            margin-top: -32px;
            display: block;
        }

        .c-card {
            width:100%;

        }

        .card-item-0 {
            border-top-right-radius: var(--radius-lg, calc(var(--base, 8px)*1.5));
            border-bottom-left-radius: unset;
        }

        .card-item-2 {
            border-top-right-radius: unset;
            border-bottom-left-radius: var(--radius-lg, calc(var(--base, 8px)*1.5));;
            border-bottom-right-radius: var(--radius-lg, calc(var(--base, 8px)*1.5));;
        }
    }
}